<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h3>Hello {{ user.username }},</h3>
	<p>We received a request to reset the password for your account for this email address.
		To initiate the password reset process for your account, click the link below:
	</p>
	<a href="http://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">Reset Password</a>
	<p>This link can only be used once.<br>
		If you need to reset your password again, <a href="http://{{ domain }}">visit us here</a> and make another request.<br>
		If you did not make this request, please ignore this email.<br>
		Thank you,<br>
		The WalletBuddy Team
	</p>
</body>
</html>

